* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.todo-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.todo-header h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

.tasks {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.tasks p {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 1rem;
}

form {
  width: 100%;
}

input {
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  border-bottom: 1px solid #ccc;
}

input::placeholder {
  font-style: italic;
}

.remove {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: #fafafa;
}

.remove p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.move-end {
  position: absolute;
  right: 0.5rem;
}